@charset "utf-8";

.footer .inner-fcon{
    width: 80%;
    height: 280px;
    margin: 0 auto;
    padding-top: 40px;
}
.footer .inner-fcon>ul>li{
    width: 20%;
    height: auto;
    float: left;
    box-sizing: border-box;
    color: #fff;
}
.footer .inner-fcon>ul>li:nth-child(1) ul>li.logo {
    width: 10%;
    height: auto;
}
.footer .inner-fcon>ul>li:nth-child(1) ul>li.search #a{
    background: #0006;
    color: #fff;
    width: 150px;
    height: 25px;
    text-indent: 10px;
    border: 0px;
}
.footer .inner-fcon>ul>li:nth-child(1) ul>li.search #click{
    background: #0006;
    color: #fff;
    width: 80px;
    height: 25px;
    border: 0px;
    cursor: pointer;
}
.footer .inner-fcon>ul>li ul>li>a {
    color: #fff;
    line-height: 28px;
    font-size: 17px;
    text-align: center;
    display: block;
}
.footer .inner-fcon>ul>li ul>li>a:hover{
    color: #fff5;
}
.footer .inner-fcon>ul>li ul>li.title>a{
    font-size: 19px;
    padding-bottom: 10px;
}
.footer .inner-fcon>ul .ficon{
    width: 150px;
    margin: 0 auto;
}
.footer .inner-fcon>ul .ficon>li>a{
    margin: 0 auto;
    display: block;
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    height: auto;
    margin-top:  5px;
}
.footer .inner-fcon>ul .ficon>li>a img{
    width: 70%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (min-width:768px) and (max-width:1023px)  {

.footer .inner-fcon{
    width: 90%;
    height: 350px;
}
.footer .inner-fcon>ul>li:nth-child(1) ul>li.logo img {
    width: 1100%;
    height: auto;
}

}

@media only screen and (max-width:767px) {

.footer .inner-fcon{
    width: 98%;
    height: 80px;
}
.footer .inner-fcon>ul{
    margin-left: 30px;
    width: 100%;
}
.footer .inner-fcon>ul>li ul>li>a {
    display:none;
}
.footer .inner-fcon>ul>li ul>li.title>a{
    font-size: 15px;
    padding-bottom: 10px;
    display: block;
    line-height:20px;
}
.footer .inner-fcon>ul>li:nth-child(5) ul>li:nth-child(6)>ul>li>a{
    display: none;
}
.footer .inner-fcon>ul>li:nth-child(1) ul>li.search img {
    display: none;
}
.footer .inner-fcon>ul>li:nth-child(1) ul>li.search input{
    display: none;
}
}