@charset "utf-8";

/*submenu*/
.submenu {
    top: 145px !important;
}
.footer {
    background: #000 !important;
}
.contents {
    width: 100%;
    height: 1300px;
    background: url(../../img/join/joinbg.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;

}
/*contents 시작*/
.contents .inner-con {
    width: 100%;
    height: auto;
    padding-top: 150px;
    margin-bottom: 150px;
}
.contents .inner-con .join {
    width: 100%;
    max-width: 600px;
    height: auto;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 50px 30px;
    box-shadow: 1px 1px 10px #fff5;
    background: #fff;
}
.contents .inner-con .join .join-title {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px 0;
}
.contents .inner-con .join .join-title h1.maintitle {
    text-align: center;
    box-sizing: border-box;

}
.contents .inner-con .join .join-title p.subtitle {
    text-align: center;
    font-size: 13px;
    line-height: 50px;
}
.contents .inner-con .join .join-form {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.contents .inner-con .join .join-form ul > li::after {
    content: "";
    display: block;
    clear: both;
}
.contents .inner-con .join .join-form ul > li {
    box-sizing: border-box;
    padding: 12px 40px;
}
.contents .inner-con .join .join-form ul > li input {
    width: 100%;
    height: 40px;
    display: block;
    box-sizing: border-box;
    text-indent: 10px;
    border: 1px solid #eee;
    background: #eeed;
    outline: none;
}
.contents .inner-con .join .join-form ul > li input:focus {
    border: 1px solid #eeed;
    background: #fff;
}
.contents .inner-con .join .join-form ul > li input[type=email] {
    width: 70%;
    cursor: pointer;
    float: left;
}
.contents .inner-con .join .join-form ul > li input[type=button] {
    width: 29.5%;
    color: #777;
    cursor: pointer;
    float: right;
    text-indent: 0px;
}
.contents .inner-con .join .join-form ul > li input[type=phone] {
    width: 34.5%;
    color: #777;
    float: left;
}
.contents .inner-con .join .join-form ul > li input[type=phone2] {
    width: 30%;
    color: #777;
    float: left;
    margin: 0 2.3px;
}
.contents .inner-con .join .join-form ul > li input[type=submit] {
    background: #f0efe4;
    color: #fff;
    cursor: pointer;
}
.contents .inner-con .join .join-form ul > li input[type=submit]:hover {
    color: #000;
}
.contents .inner-con .join .join-form span.private {
    display: block;
    width: 200px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
    font-size: 5px;
    cursor: pointer;
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .contents {
        height: 900px;
    }
    .contents .inner-con {
        width: 100%;
        max-width: 70%;
        margin: 0 auto;
        height: auto;
        padding-top: 150px;
        margin-bottom: 0px;
    }
    .contents .inner-con .join {
        padding: 10px 10px;
    }
    .contents .inner-con .join .join-title {
        padding: 0px 0;
    }
    .contents .inner-con .join .join-title p.subtitle {
        font-size: 10px;
        line-height: 13px;
    }
    .contents .inner-con .join .join-form ul > li {
        box-sizing: border-box;
        padding: 9px 70px;
    }
    .contents .inner-con .join .join-form ul > li input {
        width: 100%;
        height: 30px;
        font-size: 10px;
    }
    .contents .inner-con .join .join-form ul > li input:focus {
        border: 1px solid #eeed;
        background: #fff;
    }
    .contents .inner-con .join .join-form ul > li input[type=phone] {
        width: 34.5%;
        color: #777;
        float: left;
    }
    .contents .inner-con .join .join-form ul > li input[type=phone2] {
        width: 30%;
        color: #777;
        float: left;
        margin: 0 1px;
    }
    .contents .inner-con .join .join-form span.private {
        font-size: 5px;
    }
}

@media only screen and (max-width:767px) {
    .contents {
        height: 900px;
    }
    .contents .inner-con {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        height: auto;
        padding-top: 150px;
        margin-bottom: 0px;
    }
    .contents .inner-con .join {
        padding: 10px 10px;
    }
    .contents .inner-con .join .join-title {
        padding: 0px 0;
    }
    .contents .inner-con .join .join-title p.subtitle {
        font-size: 10px;
        line-height: 13px;
    }
    .contents .inner-con .join .join-form ul > li {
        box-sizing: border-box;
        padding: 7px 0px;
    }
    .contents .inner-con .join .join-form ul > li input {
        width: 100%;
        height: 30px;
        font-size: 10px;
    }
    .contents .inner-con .join .join-form ul > li input:focus {
        border: 1px solid #eeed;
        background: #fff;
    }
    .contents .inner-con .join .join-form ul > li input[type=phone] {
        width: 34.5%;
        color: #777;
        float: left;
    }
    .contents .inner-con .join .join-form ul > li input[type=phone2] {
        width: 30%;
        color: #777;
        float: left;
        margin: 0 1px;
    }
    .contents .inner-con .join .join-form span.private {
        font-size: 5px;
    }
}
