@charset "utf-8";

/*sub1*/
.footer { background: #000; } 
.submenu { top: 145px !important; } 
.subcontents1 .con1 { width: 100%; height: auto; } 
.subcontents1 .con2 { width:70%; height: auto; margin: 0 auto; text-align: center; line-height: 30px; background: #fcf9ee; box-sizing: border-box; border: 1px solid #000; outline: 3px solid; outline-style:double; display: block; margin-bottom: 30px; margin-top: 30px; padding: 10px; font-size: 20px; } 
.subcontents1 .con2 .title { font-size: 32px; } 

/*sub2.3.4*/
.slide { width: 100%; height: auto; } 
.slide .slideto { width: 75%; height: auto; margin: 0 auto; } 

/*con1*/
.con1::after { display: block; content: ""; clear: both; } 
.con1 { width: 100%; height: auto; cursor: pointer; width: 100%; height: auto; } 
.con1 .imgbg { width: 50%; height: auto; float: left; } 
.con1 .imgbg>img { width: 100%; height: auto; } 
.con1 .text { text-align: center; width: 50%; height: auto; float: right; } 
.con1 .text .title { font-size: 35px; padding-top: 50px; } 
.con1 .text .subtitle { font-size: 25px; padding: 15px 0px; } 
.con1 .arrowimg img { width: 100%; height: auto; display: block; } 
.subcontents3 .con1 .text { float: left; } 
.subcontents3 .con1 .imgbg { float: right; } 

/*con2*/
.subcontents3 .con2 { display: none; } 
.subcontents4 .con2 { display: none; } 
.con2 { width: 100%; height: auto; box-sizing: border-box; } 
.con2::after { display: block; content: ""; clear: both; } 
.con2 >ul>li> .subproduts { width: 25%; height: auto; float: left; box-sizing: border-box; } 

/*img hover*/
.con2 >ul>li .img { width: 100%; height: auto; position: relative; } 
.con2 >ul>li .img img { width: 50%; height: auto; display: block; margin: 0 auto; } 
.con2 >ul>li .img >.hover { position: absolute; top: 0; left: 0; height: 100%; width: 100%; opacity: 0; background-color: #0002; display: block; cursor: pointer; } 
.con2 >ul>li .img >.hover span { text-align: center; margin: 80px; display: block; color: #fff; } 
.con2 >ul>li .img:hover .hover { opacity: 1; } 

/*text*/
.con2 >ul>li a { width: 40%; height: auto; margin: 0 auto; text-align: center; font-size: 18px; border: 1px solid #fcf9ee; border-radius: 50px; cursor: pointer; margin-top: 10px; display: block; } 
.con2 >ul>li a:hover { background: #fcf9ee; } 
.con2 >ul>li .price { text-align: center; font-size: 20px; padding-bottom: 20px; } 
.con2 >ul>li .text { text-align: center; font-size: 22px; margin: 10px 0px; } 

/*sub5*/
.subcontents6 { width: 100%; height: auto; margin: 90px 0px; } 
video { max-width: 1000px; height: auto; display: block; margin: 0 auto; } 

/*sub6*/
.subcontents5 { width: 100%; height: auto; margin-bottom: 50px; } 
.subcontents5 .inner-subcontents5 { width: 100%; max-width: 1300px; height: auto; margin: 0 auto; } 
.subcontents5 .con1 .title { text-align: center; font-size: 30px; } 
.subcontents5 .con1 .subtitle { text-align: center; font-size: 15px; margin-top: 20px; margin-bottom: 20px; } 
.subcontents5 .con2 { width: 100%; position: relative; } 
.subcontents5 .con2 .inner-con2 { max-width: 1200px; margin: 0 auto; height: 400px; position: relative; overflow: hidden; } 
.review { width: 33.3333%; height: 400px; position: absolute; } 
.review-con { width: 600%; position: absolute; } 
.review-con > ul > li { width: 16.6666%; height: 400px; float: left; } 
.subcontents5 .con2 span.arrow { display: block; width: 50px; height: 50px; position: absolute; top: 35%; } 
span.arrow:hover { opacity: .5; } 
span.arrow.arrowright { right: 0px; } 


@media only screen and (min-width:768px) and (max-width:1023px) { 
/*sub1*/
/*sub2.3.4*/
.slide .slideto {width: 90%; } 
/*img hover*/
.con2 >ul>li .img >.hover span {margin: 25px auto;font-size: 20px;width: 40%; } 
/*text*/
.con2 >ul>li a {width: 60%; } 
.con2 >ul>li .price {font-size: 16px; } 

/*sub6*/
.subcontents5 .con2 .inner-con2 {max-width: 700px;height: 200px; } 
 .review {height: 200px; } 
.review-con > ul > li {height: 200px; } 
span.arrow.arrowleft {left: 30px; } 
span.arrow.arrowright {right:30px; } 
 video { max-width: 700px; height: auto; display: block; margin: 0 auto; } 
 }

@media only screen and (max-width:767px) { 
 /*sub1*/
 .subcontents1 .con2 { width: 95%; line-height: 20px; } 

 /*sub2.3.4*/
.slide .slideto {width: 95%; } 
 .con1 .text .title { font-size: 20px; padding-top: 10px; } 
 .con1 .text .subtitle { font-size: 15px; padding: 5px 0px; } 
/*text*/

 .con2>ul>li a {width: 80%;font-size: 15px; } 
.con2>ul>li .price {width: 100%;height: auto;text-align: center;font-size: 14px;padding-bottom: 20px; } 
.con2 >ul>li .text {font-size: 15px; } 
 /*sub6*/

.review {width: 100%;height: 400px; left: 50%; margin-left: -200px; top: 0;position: absolute; } 
span.arrow {top: 28%; } 
video { max-width: 400px; height: auto; display: block; margin: 0 auto; } 
}
