@charset "utf-8";
/*nav*/
.inner-nav {
    width: 100%;
    height: 750px;
    position: relative;
}
.gallery > ul > li {
    width: 100%;
    height: 750px;
    position: absolute;
}
.inner-g {
    width: 500px;
    height: auto;
    position: absolute;
    top: 100px;
    right: 120px;
    color: #fff;
    text-align: center;
}
.inner-g  ul .title {
    font-size: 35px;
    line-height: 200px;
}
.inner-g  ul .sub {
    height: 200px;
    line-height: 28px;
    font-size: 21px;
}
.inner-g .link a {
    width: 50%;
    margin: 0 auto;
    line-height: 50px;
    border: 0.5px solid #fff8;
    display: block;
    color: #fff;
    font-size: 18px;
}
.inner-g ul .link a:hover {
    background: #fcf9ee;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.5s;
}
/*items*/
.nav .items {
    width: 120px;
    position: absolute;
    bottom: 80px;
    right: 80px;
}
.nav .items::after {
    content: "";
    display: block;
    clear: both;
}
.nav .items > ul > li {
    width: 15%;
    height: 5px;
    float: left;
    border-radius: 10px;
    margin: 0px 10px;
    color: #fff8;
}
.nav .items > ul > li span {
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #fff8;
    margin: 0px 4px;
    display: block;
    font-weight: bold;
}
.nav .items > ul > li:hover {
    background: #fff;
    cursor: pointer;
}
.nav .items > ul > li span:hover {
    color: #fff;
}
.on {
    background: #fff8;
}

/*contents1*/

.contents1 {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contents1 .inner-con {
    max-width: 1200px;
    margin: 0 auto;
}
.contents1  a{
    width: 15%;
    height: 40px;
    border: 1px solid #fcf9ee;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    line-height: 40px;
    border-radius: 20px;
}
.contents1  a:hover{
    background: #fcf9ee;
}
.contents1 .con1 {
    width: 100%;
    height: 100px;
    text-align: center;
}
.contents1 .con1 h1.title {
    font-size: 30px;
}
.contents1 .con1 p {
    font-size: 18px;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 20px;
    line-height:30px;
}
.contents1 .items{
    width: 50%;
    margin: 0 auto;
}
.contents1 .items>ul>li{
    float: left;
    width: 50%;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 20px;
}
.contents1 .items>ul>li:hover{
    color: #ccc;
}
.on1{
    color: #ccc;
    text-decoration-line: underline;
}
.contents1 .con2 {
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 50px;
}
.contents1 .inner-con2 {
    width: 100%;
    height:550px;
    position: absolute;
    overflow: hidden;
}
.contents1 .inner-con2-1 {
    width: 400%;
    height: auto;
    position: absolute;
}
.contents1 .inner-con2-1 ::after{
    display: block;
    content: "";
    clear: both;
}
.contents1 .inner-con2-1 > ul > li {
    width: 25%;
    height: auto;
    box-sizing: border-box;
    float: left;
    margin: 10px 30px;
}
.product {
    width: 22%;
    height: auto;
    border: 0.5px solid #ccc8;
    box-sizing: border-box;
    float: left;
    box-shadow: 1px 1px 5px #ccc;
    margin: 0px 10px;
    text-align: center;
}
/*img*/
.product img {
    width: 90%;
    display: block;
    margin: 0 auto;
}
/*text*/
.product .text {
    font-size: 23px;
}
.product .price {
    padding-bottom: 20px;
}
.product a {
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
    border: 1px solid #fcf9ee;
    border-radius: 20px;
    display: block;
}
.product a:hover{
    background: #fcf9ee;
}

/*contents2*/
.contents2 .inner-con2 {
    width: 100%;
    height: 595px;
    background: #000;
    position: relative;
    left: 0;
    top: 0;
}
.contents2 .con2-1 {
    width: 500px;
    height: auto;
    color: #fff;
    padding-top: 100px;
    padding-left: 90px;
    position: absolute;
    left: -600px;
    top: 0;
    z-index: 2;
}
.contents2 .con2-1 > a {
    width: 150px;
    border: 1px solid #fcf9ee;
    text-align: center;
    margin-top: 30px;
    color: #fcf9ee;
    font-size: 20px;
    display: block;
    line-height: 40px;
    border-radius: 20px;
}
.contents2  a:hover {
    color: #000;
    background: #fcf9ee;
}
.contents2 .title {
    font-size: 32px;
    height: auto;
    padding-bottom: 30px;
}
.contents2 .text {
    font-size: 20px;
    line-height: 33px;
}
.contents2 .con2-2 {
    width: 55%;
    height: auto;
    position: relative;
    float: right;
}
.contents2 video {
    width: 100%;
    height: 595px;
    display: block;
    background-attachment: fixed;
    outline: none;
}

/*contents3*/
.contents3{
    width: 100%;
    height: auto;
    margin-top: 150px;
}
.contents3 .inner-con3{
    max-width: 1200px;
    height: 850px;
    margin: 0 auto;
}
.contents3 .con1{
    margin: auto;
    height: 100px;
    margin-bottom: 50px;
}
.contents3 .con1 h2.title{
    text-align: center;
    line-height: 100px;
    border-bottom: 1.5px solid #ccc;
    font-size: 30px;
}
.contents3 .inner-con2{
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.contents3 .inner-con2>ul>li{
    width: 49%;
    height: auto;
    float: left;
    position: relative;
}
.contents3 .inner-con2>ul>li img{
    width: 100%;
    height: 720px;/*698*/
    display: block;
    box-shadow: 1px 1px 7px #ccc;
}
.popup{
    height: 720px;
    position: absolute;
    text-align: center;
    top:0%;
    color: #fff;
    left: 0%;
    font-size:22px;
    display: none;
    background: #0008;
    width: 100%;
}
.popup p{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 200px;
    display: block;
}
.popup a{
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
    border: 1px solid #fcf9ee;
    border-radius: 20px;
    margin-top: 80px;
    display: block;
    color: #fff;
}
.popup a:hover{
    color: #000;
    background-color: #fcf9ee;
}
.contents3 .inner-con2-2{
    width: 100%;
    padding-left: 35px;
}
.contents3 .inner-con2-2 .title{
    text-align: center;
    line-height: 100px;
    font-size: 27px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.contents3 .inner-con2-2 .text{
    width: 100%;
    height: 350px;
    text-align: center;
    line-height: 35px;
    font-size: 23px;
    margin: 35px 0px;
}
.contents3 .inner-con2-2 a{
    width: 150px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #fcf9ee;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
}
.contents3 .inner-con2-2 a:hover{
    background:#fcf9ee;
}
.contents3 .inner-con2>ul>li .inner-con2-2 img{
    width: 100%;
    height: auto;
    display: block;
}

/*contents4*/
.contents4 {
    width: 100%;
    height: 800px;
    margin-top: 150px;
    background: url(../../img/index/contents4bg-2.png) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
}
.contents4 .inner-con4 {
    width: 100%;
    height: 800px;
    background: #0004;
    background-attachment: fixed;
}
.contents4 .con{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}
.contents4 .logo>img {
    margin: 0 auto;
    display: block;
}
.contents4 p {
    color: #fff;
    text-align: center;
    padding: 40px 0px;
    font-size: 30px;
    font-weight: 500;
}
.contents4 span {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 22px;
    padding-bottom: 90px;
    line-height: 30px;
    display: block;
}
.contents4  a {
    width: 20%;
    margin: 0 auto;
    border: 1px solid #fcf9ee;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    line-height: 40px;
    display: block;
}
.contents4 a:hover {
    background:#fcf9ee;
    color: #000;
    transition: .5s;
}

/*contents5*/
.contents5 {
    width: 100%;
    height: 700px;
}
.contents5 .inner-contents5 {
    width: 90%;
    height: 950px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    z-index: 100;
    background: #fff;
    box-shadow: 1px 2px 10px #cccd;
}
.contents5 .inner-contents5-1 {
    width: 95%;
    padding-top: 130px;
    margin: 0 auto;
}
.contents5 .con1 {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1.5px solid #ccc;
    font-size: 23px;
}
.contents5 .text {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
.contents5 a {
    width: 15%;
    border: 1px solid #fcf9ee;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
}
.contents5 a:hover {
    background: #fcf9ee;
    transition: .5s;
}
/*lan*/
.contents5 .con2 {
    float: right;
}
.contents5 .lansub > select {
    font-size: 18px;
    border: 0px solid;
}
/*con3*/
.contents5 .con3 {
    width:95%;
    height: 590px;
    position: relative;
    margin: 0 auto;
}
.contents5 .inner-con3 {
    width: 100%;
    height: 600px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    margin-top: 40px;
}
.contents5 .inner-con3-1 {
    width:300%;
    height: auto;
    position: absolute;
}
.contents5 .inner-con3-1 > ul > li {
    width: 33.3333%;
    height: 530px;
    float: left;
}
.place {
    float: left;
    width: 33.333%;
    height: 530px;
    margin: 0 auto;
    text-align: center;
}
.place img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.place .store {
    width: 80%;
    font-size: 20px;
    line-height: 70px;
    margin: 0 auto;
}
.place .inner-sub {
    width: 80%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    margin: 0 auto;
}
.place .adress {
    font-size: 18px;
}
.place .phone {
    font-size: 15px;
    padding: 5px;
}
/*arrow*/
.contents5 .arrow {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.contents5 .arrowleft {
    left: -20px;
}
.contents5 .arrowright {
    right: -20px;
}
.contents5 .arrow img:hover{
    opacity: 0.5;
    cursor: pointer;
}

/*contents6*/
.footerbg{
   background: url(../../img/index/contents6.png) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
}
.footerbg .inner-footerbg{
    background: #0004;
    background-attachment: fixed;
}
.contents6{
    width: 100%;
    height: 700px;
    margin-top: 300px;  
}
.contents6 .inner-con6{
    width: 100%;
    height: 700px;
    position: relative;
    left: 0;
    top: 0;
}
.contents6 .con6{
    max-width: 700px;
    height: auto;
    position: absolute;
    left: 100px;
    top: 50%;
    margin-top: -95px;
}
.contents6 .con1{
    width: 100%;
    height: auto;
    color: #fff;
    margin-bottom: 70px;
    text-align: center;
    font-size: 18px
}
.contents6 .con2>ul>li{
    float: left;
    width: 33.3333%;
}
.contents6 .con2>ul>li img{
    width:40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.contents6 .text{
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

@media only screen and (min-width:768px) and (max-width:1023px) {

    /*nav*/
    .nav .inner-nav {
        height: 700px;
    }
    .gallery > ul > li {
        height: 700px;
    }
    .inner-g {
        width: 380px;
        right: 80px;
    } 
    /*contents1*/
	.contents1 {
		width: 95%;
		margin: 0 auto;
		height: auto;
		margin-top: 80px;
		margin-bottom: 80px;
	}
    .contents1 .con2{
        height: 450px;
    }
	.product {
		width: 21%;
		height: 350px;
	}
	.product img {
		width: 80%;
	}
    .product .text {
		font-size: 18px;
	}
    .product .price {
		font-size:15px;
	}
    .product a {
		margin-top: 15px;
		font-size: 15px;
		width: 80%;
	} 
    /*contents2*/
    .contents2 .inner-con2 {
        height: 400px;
    }
    .contents2 .title {
        display: none;
    }
    .contents2 .text {
        display: none;
    }
    .contents2 .con2-2 {
        width: 100%;
        float:none;
    }
    .contents2 video {
        width: 100%;
        height: 400px;
    }
    .contents2 .con2-1 > a {
    display: none;
    }
    /*contents3*/
	.contents3 .inner-con3{
		max-width: 800px;
		height: auto;
	}
	.contents3 .title{
		width: 90%;
		margin: 0 auto;
	}
	.contents3 .inner-con2{
		width: 90%;
	}
	.contents3 .inner-con2>ul>li{
		width: 100%;
		float: none;
	}
	.contents3 .inner-con2>ul>li img{
		width: 80%;
		height: 600px;
		margin: 0 auto;
	}
	.contents3 .popup{
		height: 600px;
		left: 10%;
		font-size:25px;
		width: 80%;
	}
	.contents3 .inner-con2-2{
		width: 80%;
		padding-left:0px;
		margin: 0 auto;
	}
	.contents3 .inner-con2-2 .title{
		margin-top: 50px;
	}
	/*contents4*/
    .contents4 {
        height: 650px;
    }
	.contents4 .inner-con4 >.con > span {
		width: 80%;
	}
    
	/*contents5*/
	.contents5 {
		height: 500px;
	}
	.contents5 .inner-contents5 {
		width: 100%;
		height: 800px;
		top: 0;
		box-shadow: none;
		padding-bottom: 0px;
		box-sizing: border-box;
	}
	.contents5 .con1 {
		font-size: 28px;
	}
	/*con3*/
	.contents5 .con3 {
		height: 480px;
	}
	/*arrow*/
	.contents5 .arrowleft {
		left: -35px;
	}
	.contents5 .arrowright {
		right: -35px;
	}
    
    /*contents6*/
	.contents6 .inner-con6{
		width: 100%;
		height: auto;
	}
	.contents6 .con6{
        left: 5%;
		margin-top: 300px;
	}

}

@media only screen and (max-width:767px) {

    /*nav*/
    .nav .inner-nav {
        height: 600px;
    }
    .gallery > ul > li {
        height: 600px;
    }
    .inner-g {
        width: 70%;
        top: 60px;
        right: 80px;
        background: #0007;
        height: 460px;
    }
    .inner-g > ul .title {
        line-height: 50px;
    }
    .inner-g > ul .sub {
        height: 260px;
        width: 95%;
        margin: 0 auto;
    }
    .inner-g > ul .link > a {
        font-size: 22px;
    }
    /*items*/
    .nav .items {
        right: 20px;
        bottom: 55px;
    }
    /*contents1*/
	.contents1 .inner-con {
		width: 90%;
	}
	.contents1 .inner-con> a{
		width: 50%;
	}
	.contents1 .items{
		width: 80%;
	}
	.contents1 .items>ul>li{
		margin: 20px 0px;
		font-size: 20px;
	}
	.contents1 .con2 {
		margin: 0 auto;
		height: 1560px;
		margin-top: 90px;
	}
	.contents1 .inner-con2 {
		height:1500px;
	}
	.contents1 .inner-con2-1 {
		width: 100%;
		height: auto;
		position: absolute;
	}
	.contents1 .inner-con2-1 > ul > li {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.product {
		width: 100%;
		height: 363px;
		float: none;
		margin: 10px 0px;
	}
	.product img {
		width: 50%;
	}
    
    /*contents2*/
    .contents2 .inner-con2 {
        height: 400px;
    }
    .contents2 .title {
        display: none;
    }
    .contents2 .text {
        display: none;
    }
    .contents2 .con2-2 {
        width: 100%;
        float:none;
    }
    .contents2 video {
        width: 100%;
        height: 400px;
    }
    .contents2 .con2-1 > a {
    display: none;
    }

	/*contents3*/   
	.contents3 .inner-con3{
		width: 90%;
		height: 1100px;/*1100*/
	} 
	.contents3 .con1{
		margin-bottom: 0px;
	}
	.contents3 h2.title{
		font-size: 27px;
		line-height:40px;
		border-bottom: 0px;
	}
	.contents3 .inner-con2>ul>li{
		width: 100%;
		height: auto;
		float: none;
	}
	.contents3 .inner-con2>ul>li img{
		width: 100%;
		height: 550px;
		display: block;
		box-shadow: none;
	}
	.contents3 .popup{
		height: 550px;
	}
	.contents3 .inner-con2-2{
		padding-left: 0px;
		margin: 30px 0px;
	}
	.contents3 .inner-con2-2 .title{
		line-height: 30px;
		border-bottom: 0px;
		border-top: 0px;
	}
	.contents3 .inner-con2-2 .text{
		line-height: 29px;
		font-size: 20px;
		background: url(../../img/index/5.jpg) no-repeat 50% 0% ;
	    background-size: cover;
	}
	.contents3 .inner-con2-2 a{
		color: #fff;
	}
	.contents3 .inner-con2-2 a:hover{
			color: #000;
	}
	.contents3 .inner-con2-2 p{
		 display: none;
	}
	.contents3 .inner-con2-2 span{
		display: block;
		padding-top: 80px;
		color: #fff!important;
	}
	.contents3 .inner-con2>ul>li .inner-con2-2 img{
		display: none;
	}

	/*contents4*/
	.contents4 {
		height: 580px;
	}
	.contents4 .inner-con4 {
		height:580px;
	}
	.contents4 .con{
		padding-top: 50px;
	}
	.contents4 .con > span {
		width: 90%;
		padding-bottom: 40px;
		line-height: 27px;
	}
	.contents4 .con > a {
		width: 33%;
	}
    
	/*contents5*/

	.contents5 {
		width: 100%;
		height: 800px;
	}
	.contents5 .inner-contents5 {
		width: 100%;
		height: 800px;
		top: 0px;
		box-shadow: none;
		padding-bottom: 30px;
		box-sizing: border-box;
	}
	.contents5 a {
		display: none;
	}
	/*con3*/
    .contents5  .con3 {
        width:100%;
        z-index: -1;
    }
    .place .store {
        font-size: 17px;
        line-height: 30px;
    }
    .place .adress{
        font-size: 16px;
    }
    .place .phone{
        font-size: 15px;
    }
	/*arrow*/
	.contents5 .arrow {
		display: block;
        top: 250px;
        z-index: 50;
	}
    
    /*contents6*/
	.contents6{
		margin-top: 0px;
		height: 400px;
	}
	.contents6 .inner-con6{
		width: 100%;
		height: auto;
	}
	.contents6 .con6{
		left:0px;
		top: 50%;
		margin-top: 100px;
	}
	.contents6 .text{
		font-size: 15px;
	}
}
