@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

/*reset*/
*{margin: 0;padding: 0;font-family: 'Montserrat','Gothic A1', sans-serif;}
html,body{width: 100%;height: 100%; }
ol,ul,li{list-style: none;}
a{text-decoration: none;color: #000;}
img{border: 0; }
header,section,nav,aside,article,main{display:block;}
button{border: 0; background: none;}




/*header*/

.wrap{
    width: 100%;
    overflow: hidden;
}

header{
    width: 100%;
    height: 90px;
}
header::after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    width: 250px;
    height: 90px;
    float: left;
}
.logo>a>img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.gnb{
    float: left;
    width: 100%;
    position: relative;
    display: none;
}
.gnb::after{
    content: "";
    display: block;
    clear: both;
}
.gnb>ul{
    width: 100%;/**/
    float: right;
    height: 310px;
    position: absolute;/**/
    background-color: #fff;/**/
    z-index: 1000;/**/
}
.gnb>ul>li{
    padding-left: 30px;
    margin-top: 40px;
}
.gnb>ul>li>a{
    font-size: 17px;
    font-weight: 400;
}
.gnb>ul>li>a:hover{
    text-decoration: underline;
}
.hicon{
    float: right;
    width:47px;
    margin-top: 75px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
}
.hicon>ul>li{
    margin-right: 1px;
    margin-top: 25px;
}
.hicon>ul>li:hover{
    opacity: 0.5;
}

/*navbtn*/
.navbtn {
    position: absolute;
    top: 25px;
    right: 18px;
    width: 35px;
    height: 40px;
    z-index: 20;
}
.navbtn span {
    background: rgb(0, 0, 0);
    height: 7px;
    display: block;
    transition: .1s;
}
.navbtn span:nth-child(2) {
    margin: 3px 0;
}
.open span:nth-child(2) {
    display: none;
}
.open span:nth-child(1) {
    transform:rotate(45deg);
}
.open span:nth-child(3) {
    transform:rotate(-45deg);
    margin-top: -7px;
}

/*main*/
main{
    width: 100%;
    background-color: #efefef;
    padding-top: 30px;
    height: 800px;/**/
}
main .visual{
    height: 900px;/**/
    width: 95%;
    background-color: #fff;
    border-radius: 100px;
    margin: 0 auto;
    border: 1px solid #fff;/**/
    position: relative;
}
main .visual >p{
    font-size: 70px;/**/
    color: #efefef;
    font-weight: 700;
    margin-top: 780px;/**/
    margin-left: -20px;
    position: relative; left: -20%; transition: all 2s;
}
main .visual >p.on{
    left: 0;
}
main .visual .gallery{
    width: 100%;
    height: 800px;
    position: absolute;
}
main .visual .gallery>ul>li{
    width: 100%;
    height: auto;
    position: absolute;
    /* top: 10px; */
     background-color: #fff;
     border-radius: 100px;
    border: 1px solid #fff;/**/
    height: 800px;/**/
}
main .visual .gallery>ul>li>.text1{
    float: left;
    width: 80%;/**/
    padding-top: 70px;/**/
    padding-left: 30px;/**/
    /* background-color: #fff; */
}
main .visual .gallery>ul>li>.text1>.subtitle{
    font-size: 15px;/**/
    color: #6c6c6c;
    font-weight: 500;
}
main .visual .gallery>ul>li>.text1>.title{
    font-size: 35px;/**/
    color: #2a2a2a;
    padding-top: 10px;
    font-weight: 700;
    line-height: 40px;/**/
}
main .visual .gallery>ul>li>.text1>p{
    font-size: 13px;
    color: #2a2a2a;
    padding-top: 20px;/**/
    width: 80%;
    line-height: 20px;/**/
    font-weight: 500;
}
main .visual .gallery>ul>li>.text1>a{
    font-size: 20px;/**/
    color: #2a2a2a;
    display: block;
    width: 40%;/**/
    margin-top:30px;
    /* margin-left: 500px; */
    text-align: center;
    font-weight: 500;
}
main .visual .gallery>ul>li>.text1>a::before{
	content: '';
	display: block;
	width: 40%;
	height: 3px;
	background: #8a8a8a;
	position: relative;
	left: 0;
	top: 35px;
	transform: translateY(-50%);
	z-index: 0;
	transition: all 0.5s; 
}
main .visual .gallery>ul>li>.text1>a:hover::before{width:100%;}
main .visual .gallery>ul>li>img{
    width: 75%;/**/
    padding-left: 20px;/**/
    margin-top: 30px;/**/
}
main .visual .items{
    width: 68px;
    position: absolute;
    bottom: 25%;/**/
    right: 2px;
}
main .visual .items>ul>li>img{
    display: block;
    margin-bottom: 10px;
    width: 70%;/**/
}
main .visual .items>ul>li:hover{
    opacity: 0.5;
    cursor: pointer;
}
.bg4{
    position: absolute;
    top: -8000px;
    right: 0;
    width: 60%;
    height: 1100px;/**/
    z-index: -2;
    background-color: #efefef;
     transition: all 2s;
}
.bg4.on{
    top: 800px;
}
.contents1{
    width: 100%;
    height: 800px;
}
.contents1 >.in-contents1{
    width: 100%;/**/
    height: 1000px;/**/
    padding-top: 180px;
}
.contents1 >.in-contents1 >.subtitle{
    width: 20%;
    font-size: 15px;/**/
    margin-left: 50px;/**/
    font-weight: 400;
    color: #6c6c6c;
}
.contents1 >.in-contents1 >.title{
    width: 20%;
    font-size: 30px;
    margin-left: 50px;/**/
    margin-bottom: 20px;/**/
    color: #2a2a2a;
    font-weight: 600;
}
.contents1 >.in-contents1 >.con1{
    display: none;/**/
    /* width: 15%;
    font-size: 15px;
    margin-top: 50px;
    line-height: 25px;
    float: left;
    font-weight: 400;
    margin-right: 20px;
    position: relative; left: -20%; transition: all 2s; */
}
.contents1 >.in-contents1 >.img{
    margin: 0 auto;/**/
    width: 90%;/**/
}
.contents1 >.in-contents1 >.img>img{
    width: 100%;/**/
}
.contents1 >.in-contents1 >.con2{
    width: 90%;/**/
    margin-top: 20px;/**/
    float: left;
    font-weight: 400;
    margin-left: 20px;
    position: relative; right: -20%; transition: all 2s;
}
.contents1 >.in-contents1 >.con2.on{
    right: 0;
}
.contents1 >.in-contents1 >.con2>a{
    font-size: 20px;
    color: #2a2a2a;
    display: block;
    width: 30%;
    margin-top:30px;
    margin-left:20px;
    text-align: center;
    font-weight: 500;
}
.contents1 >.in-contents1 >.con2>a::before{
	content: '';
	display: block;
	width: 40%;
	height: 3px;
	background: #8a8a8a;
	position: relative;
	left: 0;
	top: 35px;
	transform: translateY(-50%);
	z-index: 0;
	transition: all 0.5s; 
}
.contents1 >.in-contents1 >.con2>a:hover::before{width:100%;}
.contents1 >.in-contents1 >.con2 >.text{
    font-size: 15px;
    line-height: 25px;/**/
    margin-left: 30px;
}
.contents1 >.in-contents1 >.con2 >.text>p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.contents1 >.in-contents1 >.con2 >.text>span{
    font-weight: 500;
    font-size: 18px;
}
/*contents2*/
.contents2{
    width: 100%;
    height: 300px;
    margin-top: 200px;/**/
}
.contents2 >.in-contents2{
    width: 90%;
    height: 200px;
    margin: 0 auto;/**/
}
.contents2 >.in-contents2 >.con1{
    /* float: left; */
    /* margin: 60px 50px 0px 200px; */
    text-align: center;/**/
}
.contents2 >.in-contents2 >.con1>.subtitle{
    font-size: 15px;/**/
    font-weight: 400;
    color: #6c6c6c;
}
.contents2 >.in-contents2 >.con1>.title{
    font-size: 30px;/**/
    font-weight: 600;
    color: #2a2a2a;
}
.contents2 >.in-contents2 >.con2{
    /* float: left; */
    text-align: center;
    margin: 30px 0px;/**/
    font-size: 18px;
    line-height: 20px;
}
.contents2 >.in-contents2 >.con2>a{
    font-size: 20px;
    color: #2a2a2a;
    display: block;
    width: 30%;/**/
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
}
.contents2 >.in-contents2 >.con2>a::before{
	content: '';
	display: block;
	width: 40%;
	height: 3px;
	background: #8a8a8a;
	position: relative;
	left: 0;
	top: 35px;
	transform: translateY(-50%);
	z-index: 0;
	transition: all 0.5s; 
}
.contents2 >.in-contents2 >.con2>a:hover::before{width:100%;}
/*contents3*/
.contents3{
    width: 100%;
    height: 1000px;
}
.contents3 >.in-contents3{
    width: 100%;/**/
    height: 1000px;
    margin: 0 auto;
}
.contents3 >.in-contents3 >.con1{
    width: 40%;
    float: left;
    margin-top: 50px;
    margin-left: 0px;/**/
}
.contents3 >.in-contents3 >.con1>.subtitle{
    font-size: 15px;/**/
    margin-left: 50px;/**/
    font-weight: 400;
    color: #6c6c6c;
    margin-bottom: 10px;/**/
}
.contents3 >.in-contents3 >.con1>.title{
    font-size: 30px;/**/
    line-height: 30px;
    font-weight: 600;
    color: #2a2a2a;
    margin-left: 50px;/**/
    margin-bottom: 20px;/**/
}
.contents3 >.in-contents3 >.con1>a{
    font-size: 15px;
    color: #2a2a2a;
    display: block;
    width: 50%;/**/
    text-align: center;
    font-weight: 500;
    margin-left: 50px;/**/
}
.contents3 >.in-contents3 >.con1>img{
    width: 150%;/**/
    margin-top: 50px;/**/
    margin-left: 50px;/**/
    position: relative; left: -50%; transition: all 2s;
}
.contents3 >.in-contents3 >.con1>img.on{
    left: 0;
}
.contents3 >.in-contents3 >.con1>a::before{
	content: '';
	display: block;
	width: 40%;
	height: 3px;
	background: #8a8a8a;
	position: relative;
	left: 0;
	top: 35px;
	transform: translateY(-50%);
	z-index: 0;
	transition: all 0.5s; 
}
.contents3 >.in-contents3 >.con1>a:hover::before{width:100%;}
.contents3 >.in-contents3 >.con2{
    float: right;/**/
    margin-top: 30px;
    margin-left: 100px;/**/
    position: relative; bottom: -50%; transition: all 2s;
}
.contents3 >.in-contents3 >.con2>img{
    width: 80%;
}
.contents3 >.in-contents3 >.con2.on{
    bottom:0;
}

.circle {
    display: none;
    position: absolute;
    top:2300px;
    left: -100px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    z-index: -2;
    border:1px solid #6c6c6c;
    transition: all 2s; 
}
.circle.on { border: 40px solid #efefef; }
.circle1 {
    position: absolute;
    top: 3300px;
    right: 0;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    z-index: -2;
    border:1px solid #6c6c6c;
    transition: all 2s; 
}
.circle1.on { border: 40px solid #efefef; }

.contents4{
    width: 100%;
    height: 430px;
    margin: 70px 0px;
    background-image: url(../img/contents3.jpg);
}

.contents5{
    width: 100%;
    height: 1100px;
}
.contents5 >.in-contents5{
    width: 100%;/*90*/
    height: 1100px;
    margin: 0 auto;
}
.contents5 >.in-contents5>.title{
    font-size: 70px;/*130*/
    color: #efefef;
    font-weight: 700;
    margin-left: 20px;/*-20*/
    position: relative; left: -20%; transition: all 2s;
}
.contents5 >.in-contents5>.title.on{
    left: 0;
}
.contents5 >.in-contents5 >.con{
    width: 100%;/*90*/
    margin: 0 auto;
}
.contents5 >.in-contents5 >.con>ul{
    width: 100%;/*80*/
    margin: 0 auto;
}
.contents5 >.in-contents5 >.con>ul::after{
    content: "";
    display: block;
    clear:both;
}
.contents5 >.in-contents5 >.con>ul>.contents>.title{
    font-size: 25px;/*30*/
    font-weight: 500;
}
.contents5 >.in-contents5 >.con>ul>.contents>.text{
    font-size: 15px;/*20*/
    font-weight: 400;
    margin: 15px 0px;
}
.contents5 >.in-contents5 >.con>ul>.contentsimg{
    width: 30%;
    float: left;
    height: 300px;
}
.contents5 >.in-contents5 >.con1>ul>.contents{
    width: 90%;/*45*/
    float: left;
    margin-top: 80px;
    text-align: right;
}
.contents5 >.in-contents5 >.con1>ul>.contents>a{
    width: 50%;
    margin-left: 50%;
    font-size: 23px;
    color: #2a2a2a;
    padding-top: 10px;
    display: block;
}
.contents5 >.in-contents5 >.con1>ul>.contents>a::before{
	content: '';
	display: block;
	width: 90%;
	height: 3px;
	background: #8a8a8a;
	position: relative;
	right: 0;
    float: right;
	top: 35px;
	transform: translateY(-50%);
	z-index: 0;
	transition: all 0.5s; 
}
.contents5 >.in-contents5 >.con>ul>.contents>a:hover::before{width:100%;}
.contents5 >.in-contents5 >.con>ul>.contentsimg{
    margin-left: 30px;
}
.contents5 >.in-contents5 >.con1>ul>.contentsimg>.imgbg{
    height: 150px;
    width: 280%;/*170*/
    margin-top:100px ;/*150*/
    background-color: #efefef;
}
.contents5 >.in-contents5 >.con1>ul>.contentsimg>img{
    width: 250%;/**/
    position: relative;
    left: 25px;/*30*/
    top: 0; transition: all 2s;
}
.contents5 >.in-contents5 >.con1>ul>.contentsimg>img.on{
    top:-200px;/*-250*/
}
.contents5 >.in-contents5 >.con2>ul>.contents{
    width: 100%;/*45*/
    float: left;
    margin-left: 30px;
    margin-top: 100px;/*380*/
    text-align: left;
}
.contents5 >.in-contents5 >.con2>ul>.contents>a{
    width: 50%;
    margin-right: 50%;
    font-size: 23px;
    color: #2a2a2a;
    padding-top: 10px;
    display: block;
}
.contents5 >.in-contents5 >.con2>ul>.contents>a::before{
	content: '';
	display: block;
	width: 90%;
	height: 3px;
	background: #8a8a8a;
	position: relative;
	right: 0;
    float: left;
	top: 35px;
	transform: translateY(-50%);
	z-index: 0;
	transition: all 0.5s; 
}
.contents5 >.in-contents5 >.con2>ul>.contentsimg>.imgbg{
    height: 150px;/*300*/
    width: 280%;/*100*/
    margin-top:190px ;/*290*/
    background-color: #efefef;
}
.contents5 >.in-contents5 >.con2>ul>.contentsimg>img{
    position: relative;
    left: 0;
    top: -340px;/*500*/
    transition: all 2s;
    width: 100%;/**/
}
.contents5 >.in-contents5 >.con2>ul>.contentsimg>img.on{
    left: 124px;/*60*/
}

.contents6{
    width: 100%;
    height: 280px;
    margin-top: 300px;/*150*/
    border-top:1px  solid #8a8a8a;
}
.contents6 >.in-contents6{
    width: 100%;/*70*/
    height: 300px;
    margin: 0 auto;
}
.contents6 >.in-contents6 >.connect>ul>li{
    width: 33.3333%;
    float: left;
    height: 280px;
    margin: 0 auto;
    /* padding: 50px; */
    padding-top: 50px;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #8a8a8a;
}
.contents6 >.in-contents6 >.connect>ul>li:nth-child(3){
    border-right: 0px solid #8a8a8a;
}
.contents6 >.in-contents6 >.connect>ul>li>.title{
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 500;
    color: #ef333f;
}
.contents6 >.in-contents6 >.connect>ul>li>.text{
    font-size: 18px;
}
.contents6 >.in-contents6 >.connect>ul>li>.text>p{
    font-size: 13px;
    margin: 5px 0px;
}

footer{
    width: 100%;
    height: 600px;/*370*/
    background-color: #1d1d1b;
}
.in-footer{
    width: 90%;
    margin: 0 auto;
}
.in-footer::after{
    content: "";
    display: block;
    clear: both;
}
.in-footer >.flogo{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
}
.in-footer >.flogo>img{
    display: block;
}
.in-footer >.fmenu{
    float: left;
    width: 70%;
    height: 250px;
}
.in-footer >.fmenu>ul>li{
    float: left;
    color: #efefef;
    margin: 10px;
}
.in-footer >.fmenu>ul>li>.title{
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
}
.in-footer >.fmenu>ul>li>.text{
    font-weight: 300;
    line-height: 25px;
    font-size: 13px;
}
.in-footer >.copy{
    font-weight: 300;
    font-size: 15px;
    color: #efefef;
    float: left;
    width: 30%;
}


@media all and (min-width:768px){
    .gnb{
        display: none;
    }

    /*main*/
    main .visual >p{
        font-size: 100px;/**/
    }
    main .visual .gallery{
        width: 100%;
        height: 800px;
        position: absolute;
    }
    main .visual .gallery>ul>li>.text1>a{
        width: 20%;/**/
    }
    main .visual .gallery>ul>li>img{
        width: 80%;/**/
        margin-top: 0px;/**/
    }
    main .visual .items{
        width: 90px;
    }
    main .visual .items>ul>li>img{
        width: 80%;/**/
    }
    .bg4{
        height: 1250px;/**/
    }
    .contents1 >.in-contents1{
        height: 1150px;/**/
    }
    .contents1 >.in-contents1 >.con2{
        margin-left: 50px;
    }
    .contents1 >.in-contents1 >.con2>a{
        width: 20%;
    }

    .contents2{
        width: 100%;
        height: 300px;
        margin-top: 400px;/**/
    }
    .contents2 >.in-contents2{
        width: 90%;
        height: 200px;
        margin: 0 auto;/**/
    }
    .circle {
        display: block;
        position: absolute;
        top:2300px;
        left: -100px;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        z-index: -2;
        border:1px solid #6c6c6c;
        transition: all 2s; 
    }

    /*contents3*/
    .contents3{
        width: 100%;
        height: 600px;
    }
    .contents3 >.in-contents3 >.con1>img{
        width: 100%;/**/
    }
    .contents3 >.in-contents3 >.con2{
        width: 40%;/**/
        float: left;/**/
    }
    .contents3 >.in-contents3 >.con2>img{
        width:100%;
    }

    .contents5 >.in-contents5 >.con1>ul>.contents{
        width: 50%;/*45*/
    }
    .contents5 >.in-contents5 >.con1>ul>.contentsimg>.imgbg{
        width: 150%;/*170*/
    }
    .contents5 >.in-contents5 >.con1>ul>.contentsimg>img{
        width: 130%;/**/
    }
    .contents5 >.in-contents5 >.con1>ul>.contentsimg>img.on{
        top:-180px;/*-250*/
    }
    .contents5 >.in-contents5 >.con2>ul>.contents{
        width: 45%;/*45*/
        margin-left: 160px;
    }
    .contents5 >.in-contents5 >.con2>ul>.contentsimg>.imgbg{
        height: 150px;/*300*/
        width: 150%;/*100*/
    }
    .contents5 >.in-contents5 >.con2>ul>.contentsimg>img{
        top: -300px;/*500*/
        width: 50%;/**/
    }
    .contents6{
        margin-top: -250px;/*150*/
    }
    footer{
        width: 100%;
        height: 450px;/*370*/
        background-color: #1d1d1b;
    }

}

@media all and (min-width: 1024px){
    .navbtn {
        display: none;
    }
    .gnb{
        width: 72%;
        height: auto;
        display: block;
    }
    .gnb>ul{
        float: right;
        width: 100%;/**/
        height: auto;/**/
        position:initial;/**/
    }
    .gnb>ul>li{
        float: right;
    }
    .hicon{
        width: 10%;
        margin-top: 10px;
    }
    .hicon>ul>li{
        float: left;
        margin-right: 15px;
    }

    /*main*/
    main{
        height: 700px;
    }
    main .visual{
        height: 800px;
    }
    main .visual >p{
        font-size: 130px;
        margin-top: 680px;
    }
    main .visual .gallery>ul>li{
        width: 100%;
        height: auto;
        position: absolute;
        top: 100px;
    }
    main .visual .gallery>ul>li>.text1{
        width: 45%;
        padding-top: 100px;
        padding-left: 60px;
        background-color: #fff;
    }
    main .visual .gallery>ul>li>.text1>.subtitle{
        font-size: 25px;
    }
    main .visual .gallery>ul>li>.text1>.title{
        font-size: 55px;
        line-height: 65px;
    }
    main .visual .gallery>ul>li>.text1>p{
        padding-top: 50px;
        line-height: 23px;
    }
    main .visual .gallery>ul>li>.text1>a{
        font-size: 23px;
        margin-left: 500px;
    }
    main .visual .gallery>ul>li>img{
        width:45%;/**/
        padding-left: 0px;/**/
        margin-top: 0px;/**/
    }
    main .visual .items{
        bottom: 37%;
    }
    main .visual .items>ul>li>img{
        display: block;
        margin-bottom: 10px;
        width: auto;/**/
    }

    .bg4{  
        height: 850px;
    }
    .contents1{
        width: 100%;
        height: 800px;
    }
    .contents1 >.in-contents1{
        width: 90%;
        padding-left: 100px;
        height: 800px;
    }
    .contents1 >.in-contents1 >.subtitle{
        font-size: 20px;
        margin-left: 500px;
    }
    .contents1 >.in-contents1 >.title{
        margin-left: 500px;
        margin-bottom: 50px;
    }
    .contents1 >.in-contents1 >.con1{
        display: block;
        width: 15%;
        font-size: 15px;
        margin-top: 50px;
        line-height: 25px;
        float: left;
        font-weight: 400;
        margin-right: 20px;
        position: relative; left: -20%; transition: all 2s;
    }
    .contents1 >.in-contents1 >.con1.on{
        left: 0;
    }
    .contents1 >.in-contents1 >.con1>.subtext>span{
        font-weight: 500;
    }
    .contents1 >.in-contents1 >.con1>.subtext{
        text-align: right;
    }
    .contents1 >.in-contents1 >.img{
        margin: 0;/**/
        width:auto;/**/
    }
    .contents1 >.in-contents1 >.img>img{
        float: left;
        width: auto;/**/
    }
    .contents1 >.in-contents1 >.con2{
        width: 35%;
        margin-top: 50px;
        float: left;
        font-weight: 400;
        margin-left: 20px;
        position: relative; right: -20%; transition: all 2s;
    }
    .contents1 >.in-contents1 >.con2>a{
        width: 35%;
    }
    .contents1 >.in-contents1 >.con2{
        width: 26%;
    }

    .contents2{
        margin-top: 0px;/**/
    }
    .contents2 >.in-contents2{
        margin: 50px auto;/**/
    }
    .contents2 >.in-contents2 >.con1{
        float: left;
        margin: 60px 50px 0px 200px;
        text-align: left;
    }
    .contents2 >.in-contents2 >.con1>.subtitle{
        font-size: 20px;/**/
    }
    .contents2 >.in-contents2 >.con1>.title{
        font-size: 50px;/**/
    }
    .contents2 >.in-contents2 >.con2{
        float: left;
        margin: 60px 0px;/**/
    }
    .contents2 >.in-contents2 >.con2>a{
        width: 13%;/**/
    }

    .contents3{
        width: 100%;
        height: 1000px;
    }
    .contents3 >.in-contents3{
        width: 90%;
    }
    .contents3 >.in-contents3 >.con1{
        margin-left: 100px;
    }
    .contents3 >.in-contents3 >.con1>.subtitle{
        font-size: 20px;
        font-weight: 400;
        color: #6c6c6c;
        margin-left: 0px;/**/
        margin-bottom: 0px;/**/
    }
    .contents3 >.in-contents3 >.con1>.title{
        margin: 15px 0px;
        font-size: 50px;
        line-height: 50px;
    }
    .contents3 >.in-contents3 >.con1>a{
        font-size: 20px;
        width: 20%;
        text-align: center;
        font-weight: 500;
        margin-left: 0px;
    }
    .contents3 >.in-contents3 >.con1>img{
        width: auto;/**/
        margin-top: 100px;
        margin-left: 100px;
        position: relative; left: -50%; transition: all 2s;
    }
    .contents3 >.in-contents3 >.con2{
        float: left;
        margin-top: 50px;
    }

    .circle {
        top:1900px;
    }

    .contents5 >.in-contents5{
        width: 90%;
    }
    .contents5 >.in-contents5>.title{
        font-size: 130px;
        margin-left: -20px;
    }
    .contents5 >.in-contents5 >.con{
        width: 90%;
    }
    .contents5 >.in-contents5 >.con>ul{
        width: 100%;
    }
    .contents5 >.in-contents5 >.con>ul>.contents>.title{
        font-size: 30px;
    }
    .contents5 >.in-contents5 >.con>ul>.contents>.text{
        font-size: 20px;
    }
    .contents5 >.in-contents5 >.con1>ul>.contents{
        width: 45%;
    }
    .contents5 >.in-contents5 >.con1>ul>.contentsimg>.imgbg{
        width: 140%;
        margin-top:150px ;
    }
    .contents5 >.in-contents5 >.con1>ul>.contentsimg>img{
        width: auto;
        left: 40px;
    }
    .contents5 >.in-contents5 >.con1>ul>.contentsimg>img.on{
        top:-250px;/*-250*/
    }
    .contents5 >.in-contents5 >.con2>ul>.contents{
        width: 45%;
        margin-left: 30px;
        margin-top: 350px;
    }
    .contents5 >.in-contents5 >.con2>ul>.contentsimg{
        margin-left: 210px;
    }
    .contents5 >.in-contents5 >.con2>ul>.contentsimg>.imgbg{
        height: 300px;/*300*/
        width: 100%;/*100*/
        margin-top:290px ;/*290*/
    }
    .contents5 >.in-contents5 >.con2>ul>.contentsimg>img{
        top: -500px;
        width: auto;
    }
    .contents5 >.in-contents5 >.con2>ul>.contentsimg>img.on{
        left: 110px;
    }

    .contents6{
        margin-top: 150px;/*150*/
    }

}